{{>header}}

<h3 class="pb-4">Agregar un producto</h3>
  <form action="/api/productos" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" aria-describedby="nombre" name="nombre">
        </div>
        <div class="mb-3">
          <label for="descripcion" class="form-label">Descripción</label>
          <input type="text" class="form-control" id="descripcion" aria-describedby="descripcion" name="descripcion">
        </div>
         <div class="mb-3 row">
           <div class="col">
              <label for="codigo" class="form-label">Código</label>
              <input type="number" class="form-control" id="codigo" aria-describedby="codigo" name="codigo">  
           </div>
          <div class="col">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precio" name="precio">
          </div>
          <div class="col">
            <label for="stock" class="form-label">Stock</label>
            <input type="number" class="form-control" id="stock" name="stock">
          </div>
        <div class="mb-3">
            <label for="upload" class="form-label">Imagen</label>
          <input type="file" class="form-control" id="upload" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

{{#if listaProductos.length}}
<h3>Producto guardado!</h3>
<h2>Lista de Productos</h2>
<div class="table-responsive">
    <table class="table table-dark">
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
         {{!-- Recorrer productos para mostrar en la tabla --}}
        {{#each listaProductos}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.precio}}</td>
            <td><img src=..{{this.thumbnail}} class="smallImg"></td>
        </tr>
        {{/each}}
       
    </table>
</div>
{{/if}}

{{>footer}}